<div id="container">
  <div id="photo-section">
  </div>
  <div id="text-section">
    <div class="title-sector">
      <h1 class="title">About us</h1>
    </div>
    <div class="text-about-us">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione odio repellat voluptates unde iste illum? Repellat quisquam consectetur exercitationem odit, obcaecati aliquid illo illum repellendus praesentium dolorem possimus, hic pariatur. <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Culpa unde illo sapiente asperiores architecto earum voluptatem impedit officiis officia numquam dicta dignissimos, tempora natus? Tempora officia nihil excepturi nesciunt blanditiis?
      </p>
    </div>
  </div>

</div>
