<div id="container">
  <div class="relleno">
    
  </div>
  <div class="tabla-container">
    <table class="tabla">
      <thead class="cabecera-tabla">
        <tr>
          <th class="celda">
            Concepto
          </th>
          <th class="celda">
            Rango Horario
          </th>
          <th class="celda">
            Tipo
          </th>
          <th class="celda">
            Laborable
          </th>
        </tr>
      </thead>

      <tbody class="cuerpo-tabla">
        <tr>
          <td class="celda">
            Turno Normal
          </td>
          <td class="celda">Min:6 Max:8</td>
          <td class="celda">1</td>
          <td class="celda">true</td>
        </tr>

        <tr>
          <td class="celda">
            Turno Extra
          </td>
          <td class="celda">Min:2 Max:6</td>
          <td class="celda">2</td>
          <td class="celda">true</td>
        </tr>

        <tr>
          <td class="celda">
            Dia Libre
          </td>
          <td class="celda">Min:0 Max:0</td>
          <td class="celda">3</td>
          <td class="celda">false</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
