<div id="container">
  <div class="career-container">
    <div class="info-container">
      <div class="img-sector">
      </div>
      <div class="career-info">
        <div class="title-container">
          <h1>¿WHY US?</h1>
        </div>
        <div class="img-container">
          <div class="office-img img-1">
            <div class="overlay"></div>
            <h5 class="image-text">Team Work</h5>
          </div>
          <div class="office-img img-2">
            <img src="" class="" alt="">
            <div class="overlay"></div>
            <h5 class="image-text">Flexibility</h5>
          </div>
          <div class="office-img img-3">
            <img src="" class="" alt="">
            <div class="overlay"></div>
            <h5 class="image-text">Growing</h5>
          </div>
          <div class="office-img img-4">
            <img src="" class="" alt="">
            <div class="overlay"></div>
            <h5 class="image-text">Enjoy</h5>
          </div>
        </div>
        <div class="talent-community-sector">
          <div class="text-container">
            <h2>Talent Community</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi quisquam, maiores saepe ipsam sit nam accusantium illo ut nesciunt. Similique illum accusantium in debitis vitae laudantium iusto ipsam, omnis quisquam.
            Nobis a aliquid delectus. Similique ducimus molestias, veritatis eius nobis qui eaque necessitatibus officia accusamus rem nulla quae modi perspiciatis hic illum laudantium quis nesciunt asperiores inventore ut, cum in.
            Voluptate magnam, consequatur nihil at illo modi mollitia id amet perspiciatis rerum repellat quia temporibus ea quae voluptatibus, atque ad. Iste sit enim qui corporis saepe eum. Ipsam, id hic.</p>
          </div>
          <div class="talent-community"> </div>
        </div>
      </div>
    </div>
  </div>
</div>
